8{
    padding: 0px;
    margin: 0px;
}

body{

    background-color: #dcdcdc;
}
.principal{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 4px rgba(255, 60, 0, 0.753);
    background-color: #ffffff;
}