8{
    padding: 0px;
    margin: 0px;
}

body{

    background-color: #dcdcdc;
}
.principal{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 4px rgba(red, green, blue, alpha)
    background-color: #ffffff;
    font-family: verdana, geneva, tahoma, sans-serife;
}
.cabecalho{
    height: 20%;
    width: 95%;
    padding: 20px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    align-items: center;
    border-bottom: #dcdcdc solid;

    .titulo{
     text-transform: uppercase;
     text-align: center;
     font-size: 24px;
     text-shadow: 2px 4px rgba(red, green, blue, alpha)
     color: #ff9900
     /*float: right;*/
    }
    .secao1{
        padding: 20px;
        font-size: 14pt;
    }
    .item1{
    font-style: italic;
    
    }
}